params {
    reads = "/path/to/reads/*_{1,2}.fastq.gz"
    genome_dir = "/path/to/genome_dir"
    gtf_file = "/path/to/annotation.gtf"
    outdir = "results"
    multiqc_config = "$projectDir/assets/multiqc_config.yaml"
}

process {
    executor = 'slurm'
     clusterOptions = {
            "--account ${System.getenv("SLURM_JOB_ACCOUNT")} " +    
            "--qos ${task.time <= 10.m ? 'bbshort' : 'bbdefault'}"  
    }
    
}


executor {
    queueSize = 60            
    submitRateLimit = '1sec'  
}

